.Helper {
    text-align: center;
    
    
  }

  
  .Helper-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  
  .Body{
    max-width: 30%;
    min-width: 20%;
    margin: auto;
  
  }
  

  